<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuizMe | Response</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Meddon">
    <script>
    function Get()
    {
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET","{% url 'quiz:api_response' id=quiz_id %}",false);
        Httpreq.send(null);
        return Httpreq.responseText;
    }
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
    function drawChart()
    {
          var response_obj = JSON.parse(Get());
          console.log("Success);
          var data = google.visualization.arrayToDataTable([
          ['Option', 'response'],
          ['A', response_obj.A],
          ['B', response_obj.B],
          ['C', response_obj.C],
          ['D',response_obj.D],
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Response', 'width':400, 'height':300};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.ColumnChart(document.getElementById('piechart'));
  chart.draw(data, options);
  setTimeout(function(){
    drawChart();
},50000);
}
</script>
</head>
<body>
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
    <div class="container">
    <div style="font-family: 'Meddon', serif;font-size: 30px;margin-bottom: 40px;margin-top: 20px">QuizMe</div>
                <div class="row">
  <div class="col-sm-6">
    <h3>{{ quizObject.question }}<br></h3>

    <h4><strong>A.    </strong>{{ quizObject.optionA }}<br></h4>
    <h4><strong>B.     </strong> {{ quizObject.optionB }}<br></h4>
    <h4><strong>C.     </strong>{{ quizObject.optionC }}<br></h4>
    <h4><strong>D.     </strong>{{ quizObject.optionD }}<br></h4>


     <h4><strong>Correct Answer: </strong>{{ quizObject.correctOption }}</h4>
              </div>
</div>
<div id="piechart"></div>
        <h4>Total Response: {{ total }}<br></h4>
    </div>
    </div>
</body>
</html>
